:root {
  --bg-color:  rgb(238, 234, 234);
  --link-color: rgb(72, 170, 63);
  --color-white: #fff;
  --text-color: rgb(160, 157, 157);
  --box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
}
body {
  margin: 0px;
  font-size: 1.2rem;
  color: var(--text-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
  }

h1,
p {
  margin: 0;
  padding: 0;
}


input {
  padding: 10px;
  border-radius: 5px;
  border-color: inherit;
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--text-color); 
  transition: border 0.2s ease;
}
form input:focus:not(.btn) {
    border: 1px solid orange;
}

a:not(p > a) {
  text-decoration: none;
  color: var(--link-color);
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper { 
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
  z-index: -2;
  background-color: rgb(123, 142, 172);
}

.main {
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  min-height: 75vh;
  padding: 25px;
  border-radius: 5px;  
  margin: auto;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
 }

.title {
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  position: relative;
  text-align: center;
  display: inline-block;
  z-index: 5;
  color: rgb(83, 78, 78);
}
.title::after {
  content: "";
  height: 2px;
  width: 100%;
  right: 0;
  left: 0;
  top: 50%;
  z-index: -1;
  position: absolute;
  background-color: var(--text-color);
}

.title-span {
  padding: 0 10px;
  max-width: 200px;
  margin: 0 auto;
  background-color: var(--bg-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  }

.acc-info {
  text-align: center;
  padding: 10px 0px 30px;
}

.full-name {
  width: 100%;
}

.full-name input {
  width: 45%;
}

.rest-inputs {
  display: flex;
  flex-direction: column;
}
.rest-inputs input:first-child {
  margin-top: 30px;
}
.btn {
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-color: var(--link-color);
   color: var(--color-white);
   border: none;
   }

.btn:active {
 box-shadow: none;
}

.rest-inputs input {
  margin: 15px 0px;
}
.footer-info {
  text-align: center;
  margin: 10px;
}

.footer-info a, .footer-info  {
  color: var(--color-white);
}

