body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  font-size: 1.2rem;
  color: rgb(114, 109, 109);
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border-color: inherit;
  outline: none;
  font-size: 1rem;
}
input:focus {
  border: 2px solid orange;
}

a:not(p > a) {
  text-decoration: none;
  color: rgb(247, 196, 28);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper {
  background-color: lightpink;
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
  z-index: -2;
}

.main {
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  min-height: 75vh;
  margin: auto;
  background-color: lightseagreen;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: -2;
}

.title {
  font-size: 2em;
  padding: 0 5px;
  font-weight: 300;
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
  z-index: 5;
}
.title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(114, 109, 109);
  right: 0;
  left: 0;
  top: 50%;
  z-index: -1;
}

.title-span {
  padding: 0 10px;
  max-width: 200px;
  background-color: lightseagreen;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin: 0 auto;
}

.acc-info {
  text-align: center;
  padding: 10px 0px 30px;
}

.full-name {
  width: 100%;
}

.full-name input {
  width: 45%;
}

.rest-inputs {
  display: flex;
  flex-direction: column;
}
.rest-inputs input:first-child {
  margin-top: 30px;
}
.btn {
  background-color: lightgreen;
  border-color: lightgreen;
  color: inherit;
}

.rest-inputs input {
  margin: 15px 0px;
}
.footer-info {
  text-align: center;
  margin: 10px;
}

.footer-info a {
  color: rgb(114, 109, 109);
}
